<ion-view view-title="Map">
<ion-nav-buttons side="right">
    <a class="button button-icon icon ion-search" ng-click="options.isShowSearchBox = !options.isShowSearchBox"></a>
</ion-nav-buttons>
    <ion-content>
        <style type="text/css">
        .bigPopup .popup{
            width:79%;
            max-height: 83%;

        }
        .bigPopup .popup-buttons{
            display: block!important;
        }
        .scroll {
            height: 100%;
        }
        
        #myMap {
            height: 100%;
            width: 100%;
        }
        .gmnoprint {
          display: none;
        }
        .controlUI {
            margin-bottom: 7px;
        }
        
        .controlUI_Btn {
          color: #565656;
            background-color: #fff;
            border: none;
            width: 54px;
            height: 54px;
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            margin-right: 10px;
            padding: 0;
        }
        .controlUI_Btn.activated{
          color: rgb(64, 131, 245) !important;
        }
        
        .controlUI_Icon {

            margin: 9px;
            width: 36px;
            height: 36px;
            background-size: 360px 36px;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
        .controlUI_Icon:before{
          
          font-size: 36px;
        }
        .carMarkerUI{
          margin-top:13px;
        }
        .carMarkerUI_Btn {
          color: #565656;
            background-color: #fff;
            border: none;
            width: 67px;
            height: 37px;
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            margin-right: 17px;
            padding: 0;
        }
        .carMarkerUI_Btn.car-save{
          background-color: #AAFFAA;
        }
        .carMarkerUI_Btn.car-cancel{
          background-color: #DDDDDD; 
        }
        /**/
              .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
        </style>
        <input id="pac-input" class="controls" type="text" placeholder="搜尋地點..." ng-show="options.isShowSearchBox">
        <div id="myMap"></div>
    </ion-content>
</ion-view>
